/* google fonts style */

.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.loading-spiner img{
  width: 25%;
  margin: auto;
}
.loading-spiner{
  text-align: center;
  padding: 50px;
  display: block;
}